click==8.4.2
matplotlib==3.11.1
mysql_connector_repackaged==0.3.1
numpy==2.5.2
pandas==3.0.5
PyMySQL==1.1.1
rapidfuzz==3.14.5
Requests==2.34.2
rpy2==3.5.17
scikit_learn==1.9.0
Scrapy==2.11.2
seaborn==0.13.2
tensorflow==2.15.0
tensorflow_intel==2.15.0
